head
	title meteor-test

body
	div.ui.container
		div.ui.pointing.menu
			a.active.item Home
			a.item Messages
			a.item Friends
	div.ui.container
		+hello

template(name='hello')
	button Click me!
	p You've pressed the button #{counter} times.
