head
	title meteor-test

body
	nav
		div.ui.container
			div.ui.inverted.borderless.menu
				a.item
					i.home.icon
	div.ui.main.container
		div.ui.horizontal.divider Home
		div.ui.segment
			+contents
			+homepage
